<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="ar.com.wolox.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".training.BootstrapApplication"
        android:allowBackup="true"
        android:icon="@drawable/wolox_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".training.ui.training.login.LoginActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".training.ui.training.main.MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".training.ui.training.singup.SingUpActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".training.ui.training.details.DetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".training.ui.viewpager.ViewPagerActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".training.ui.training.TestActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
